doctype html
html
  head
    title
      | Blocitoff
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    - if notice
      p.alert.alert-success
        = notice
    - if alert
      p.alert.alert-danger
        = alert
    p.navbar-tet.pull-right
      - if user_signed_in?
        |  Logged in as 
        strong
          = current_user.email
        | . 
      - else
        = link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'
    = yield
